.app-header {
    background-color: #222;
    height: 36px;
    font-size: 21px;
    color: white;
    padding: 8px 32px 8px 16px;
}

 .login-button {
    float: right;
} 

.MuiAvatar-root{
    width: 161px !important;
    height: 161px !important;
    background-color: #fafafa;
}

.smallDp{
    width: 79px !important;
    height: 82px !important;
}

.MuiPaper-elevation1{
    box-shadow: none !important;
}
 .modalupdate{
   width: 100%  !important;
} 
/* .MuiDialogContent-root{
    display: flex;
    flex-direction: row;
} */
.profile_name {
    margin-top: 5%;
    font-size: 25px;
    font-weight: 500;
}

.editButton{
    margin-left: 2% !important; 
    width: 39px !important; 
    height: 32px !important; 
}

.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 
 .bookshow-button {
    float: right;
    margin-right: 8px;
}

 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }
 
 .tabs {
    margin-bottom: 20px;
} 	 

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
} 
